<h1>Contact < App <hi>

<% contacts = Contact.all%>

<ul>
    <% for contact in contacts %>
        <li>
            <% company = Company.find_by({"id"} => contact["company_id"]})%>
            <%= contact["first_name"] %> 
            <%= contact["last_name"] %>
            @ <%= company["name"] %>

        </li>
    <% end %>
</ul>